.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    animation: tabFade 0.5s;
    z-index: 10;

    .modal-content {
        width: 800px;
        height: 90%;
        background: $off-white;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        position: relative;
        overflow: auto;

        .modal-close {
            position: absolute;
            top: 0;
            right: 14px;

            button {
                border: none;
                background: transparent;
                font-size: 3rem;
                cursor: pointer;

                span {
                    font-size: 1.9rem;
                }

                &:hover {
                    color: $medium-green;
                }
            }
        }

        .modal-header {
            font-size: 1.5rem;
            color: $dark-red;
        }
    }
}

#consent-modal {
    position: fixed;
    font-size: 1.05rem;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    opacity: 1;
    background: $off-white;

    &.hidden {
        display: none;
    }

    a {
        text-decoration: underline;
        color: $dark-red;
    }
}